Tugas 2 AI Keuangan - auto invoice email.json
{
  "name": "Tugas 2 AI Keuangan - auto invoice email",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.from}}",
                    "rightValue": "arsip0000002@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "94e397ff-4661-4300-b0be-e72277e0659a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86886d3d-ba92-440a-ad76-eca7720e659d",
                    "leftValue": "={{$json.from}}",
                    "rightValue": "arsip0000003@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e279e856-9694-467e-bb69-737118de0bae",
                    "leftValue": "={{$json.from}}",
                    "rightValue": "arsip0000004@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        176
      ],
      "id": "15d25b97-9ad6-45ce-a3ac-a280dee119b8",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        176
      ],
      "id": "12b9f616-cec8-4279-8706-a1a20b81eea8",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o3tPL3TjGpGR34oOAvGHNtV2mOVaAFKjNcsoi7bTJn4",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o3tPL3TjGpGR34oOAvGHNtV2mOVaAFKjNcsoi7bTJn4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JUzZvvvp1dgNXTh1533pqU1_A7V1a3WdVcTEXoLLRkU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Produk }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        192
      ],
      "id": "30e504cf-7e46-4352-8b91-ebcd0261af2e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qxprey4JdXedhrKC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c96d242a-cf03-4cd0-a761-2c58e6559d77",
              "name": "Tanggal",
              "value": "={{ $('IMAP').item.json.date }}",
              "type": "string"
            },
            {
              "id": "087730c7-25f4-4256-8f37-46cb64ed0ad0",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([ \\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "4352ef72-b662-44df-b522-e25bf0dfdc8c",
              "name": "Produk",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "41b62769-3c43-4eea-8542-4587abc18600",
      "name": "IDCloudHost"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -464,
        192
      ],
      "id": "e9ac09f3-8e64-460f-80c8-c5930c5f2b06",
      "name": "IMAP",
      "credentials": {
        "imap": {
          "id": "nAj39tukAoll2PmE",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1719489-cfe4-4a24-9dc5-f29ac35ff8af",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "96646888-934d-4797-8147-dcf63de7fbe6",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([ \\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "1abbc051-52eb-4ad8-996d-0a6504e6a70a",
              "name": "Produk",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "15944605-659b-41dc-bdea-089054eeac9e",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b2a2add-9f03-408d-9703-a2254de64b6c",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "336f2925-379d-4d2c-9100-07b0de1960d1",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([ \\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "1e3161cd-c021-4360-be75-20f71d35c17f",
              "name": "Produk",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        384
      ],
      "id": "a5e464d3-7c18-44dc-80b6-a4eddac0127e",
      "name": "Tokopedia"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "IDCloudHost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDCloudHost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d06eea87-baa3-4321-8449-39639b8dce9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb983733e1cff6aaf4a40589532dc5ce92703ea6f4b8d691fba2decba1a6fef6"
  },
  "id": "gr3lUHeHBa8dfY63",
  "tags": []
}