Tugas 7 AI Keuangan -  Analisis X.json
{
  "name": "Tugas 7 AI Keuangan -  Analisis X",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        48
      ],
      "id": "73993706-82cf-4ed4-bea4-235bc294be59",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        352
      ],
      "id": "b0f8401a-f508-482b-b53a-4ad9c50308ed",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berdasarkan data sentimen crypto hari ini dari media berita:\n\nData BTC:\n- Total Berita: {{ $node[\"Edit Fields\"].json.BTC.total }}\n- Signal: {{ $node[\"Edit Fields\"].json.BTC.signal }}\n- Skor Rata-rata: {{ $node[\"Edit Fields\"].json.BTC.avg_compound }}\n\nData ETH:\n- Total Berita: {{ $node[\"Edit Fields\"].json.ETH.total }}\n- Signal: {{ $node[\"Edit Fields\"].json.ETH.signal }}\n- Skor Rata-rata: {{ $node[\"Edit Fields\"].json.ETH.avg_compound }}\n\nBerikan ringkasan singkat dalam 1 kalimat mengenai kondisi pasar crypto saat ini (apakah sedang optimis atau waspada).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        48
      ],
      "id": "e05c8aff-1259-4d8d-a06a-125c4cd1a8df",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "a4da91ca-288a-42aa-a2d3-522ff557d7eb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JRlHk4FsGeq0LV3Y",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pK0qAenSch1W2cSJtjgSQciNwBoN8-NLdtkZF1UIg9U",
          "mode": "list",
          "cachedResultName": "Analisis X",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pK0qAenSch1W2cSJtjgSQciNwBoN8-NLdtkZF1UIg9U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pK0qAenSch1W2cSJtjgSQciNwBoN8-NLdtkZF1UIg9U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Schedule Trigger').item.json.timestamp }}",
            "BTC_Signal": "={{ $node[\"Edit Fields\"].json.BTC.signal }}",
            "BTC_Score": "={{ $node[\"Edit Fields\"].json.BTC.avg_compound }}",
            "ETH_Signal": "={{ $node[\"Edit Fields\"].json.ETH.signal }}",
            "ETH_Score": "={{ $node[\"Edit Fields\"].json.ETH.avg_compound }}",
            "AI_Summary": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BTC_Signal",
              "displayName": "BTC_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BTC_Score",
              "displayName": "BTC_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETH_Signal",
              "displayName": "ETH_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETH_Score",
              "displayName": "ETH_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI_Summary",
              "displayName": "AI_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal",
              "displayName": "Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        48
      ],
      "id": "e3cc4ddb-0fe4-460c-8e57-e27d87e8a0cb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qxprey4JdXedhrKC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pK0qAenSch1W2cSJtjgSQciNwBoN8-NLdtkZF1UIg9U",
          "mode": "list",
          "cachedResultName": "Analisis X",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pK0qAenSch1W2cSJtjgSQciNwBoN8-NLdtkZF1UIg9U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pK0qAenSch1W2cSJtjgSQciNwBoN8-NLdtkZF1UIg9U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        352
      ],
      "id": "084fe3ea-083c-4470-8635-1df7c8652ae9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qxprey4JdXedhrKC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari node sebelumnya secara otomatis\nconst items = $input.all();\n\nlet btc_neutral = 0;\nlet eth_neutral = 0;\nlet total_data = items.length;\n\n// Loop untuk menghitung sinyal berdasarkan kolom yang ada di sheet kamu\nfor (const item of items) {\n  if (item.json.BTC_Signal === 'NEUTRAL') btc_neutral++;\n  if (item.json.ETH_Signal === 'NEUTRAL') eth_neutral++;\n}\n\nreturn {\n  total_laporan: total_data,\n  btc_stats: {\n    neutral: btc_neutral,\n    avg_score: items[0].json.BTC_Score // Mengambil skor terbaru\n  },\n  eth_stats: {\n    neutral: eth_neutral,\n    avg_score: items[0].json.ETH_Score\n  },\n  ringkasan_ai: items[0].json.AI_Summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        352
      ],
      "id": "21a2b1bd-ea6c-48d1-a719-3567186ceb9b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis pasar kripto profesional. Buatlah laporan singkat untuk dikirim ke Telegram berdasarkan ringkasan data berikut:\n\n- Total Data Dianalisis: {{ $json.total_laporan }}\n- Status BTC Terbaru: {{ $json.btc_stats.neutral > 0 ? 'Stabil/Netral' : 'Bergejolak' }} (Skor: {{ $json.btc_stats.avg_score }})\n- Status ETH Terbaru: {{ $json.eth_stats.neutral > 0 ? 'Stabil/Netral' : 'Bergejolak' }} (Skor: {{ $json.eth_stats.avg_score }})\n\nAnalisis Tambahan:\n{{ $json.ringkasan_ai }}\n\nBuatlah laporan dalam 2-3 kalimat yang santai namun informatif untuk komunitas trader di Telegram.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        352
      ],
      "id": "ea5e36f6-713d-492a-8ad3-d49fc990b5e0",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        848,
        512
      ],
      "id": "23a058f1-c3a9-4bb1-bedb-70d331cbd281",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "JRlHk4FsGeq0LV3Y",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6278038528",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        352
      ],
      "id": "f916ec5a-b626-4d4d-aaaa-b828289c31e0",
      "name": "Send a text message",
      "webhookId": "8aec95af-aa30-4307-afd5-01f1cce9d07d",
      "credentials": {
        "telegramApi": {
          "id": "zfJ0sYfHci4DVY6D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"BTC\": {\n    \"total\": 92,\n    \"bullish\": 30,\n    \"bearish\": 35,\n    \"neutral\": 27,\n    \"avg_compound\": -0.04,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T10:34:34.904592\"\n  },\n  \"ETH\": {\n    \"total\": 74,\n    \"bullish\": 31,\n    \"bearish\": 31,\n    \"neutral\": 12,\n    \"avg_compound\": -0.0064,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T10:34:34.905090\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        48
      ],
      "id": "7d4cbc78-3bd3-4f27-a8b0-fd840959f2b5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ebb3c13a-738f-4d80-9365-856b601ecb11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb983733e1cff6aaf4a40589532dc5ce92703ea6f4b8d691fba2decba1a6fef6"
  },
  "id": "0z5meg3BU1mZsFAc",
  "tags": []
}