Tugas 5 AI Keuangan - Berita keuangan harian.json
{
  "name": "Tugas 5 AI Keuangan - Berita keuangan harian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        224
      ],
      "id": "d77f1a8c-a8b3-4dce-a76e-a8a658698996",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        144
      ],
      "id": "e8b21a00-2cbd-4931-8ca7-7095a5dfc084",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "3da8d900-6756-47a1-b117-e06e5e7518b9",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        208
      ],
      "id": "fe2575c5-239c-4322-9193-081f8c1e2131",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "aeded377-1996-4caf-af4a-549cc5760c6e",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        208
      ],
      "id": "e5be2872-7948-46ec-8a09-cf760f99b94b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        720,
        208
      ],
      "id": "a06f18ae-d7c5-4925-b5f9-88604c41e13c",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        208
      ],
      "id": "f0609b60-ecc4-4c35-98ec-227cb0399160",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "6278038528",
        "text": "=Berikut adalah ringkasan berita keuangan hari ini:\n{{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        208
      ],
      "id": "338de152-e89b-4db0-8a28-70d7947bd2fc",
      "name": "Send a text message",
      "webhookId": "b035be79-a6e6-4fc6-b2e4-fe471846f8d9",
      "credentials": {
        "telegramApi": {
          "id": "zfJ0sYfHci4DVY6D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1248,
        400
      ],
      "id": "6ec73f36-7ae3-4ada-a76c-aa77c105e5a2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JRlHk4FsGeq0LV3Y",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 10 artikel berita keuangan teratas hari ini:\n{{ $json.text }}\n\n---\n\nTugas:\n1. Identifikasi 5 berita paling penting dari teks di atas.\n2. Ringkas masing-masing berita menjadi 1-2 kalimat.\n\nOutput:\n- Tulis dalam 5 poin (bullet points).\n- Berikan jarak 1 enter untuk setiap bullet point\n- Gunakan bahasa Indonesia yang jelas dan profesional.\n- Fokus pada informasi inti (angka, kejadian penting, dampak pasar jika ada).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1248,
        208
      ],
      "id": "84a2f7bb-b1b3-4b63-b6bb-f7c7cf6ef14f",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = item.json.text || '';\n\n  // bersihin spasi berlebih\n  const clean = text.replace(/\\s+/g, ' ').trim();\n\n  // ambil 2–3 kalimat pertama (lead berita)\n  const sentences = clean.split('. ');\n  const important = sentences.slice(0, 3).join('. ') + '.';\n\n  return {\n    json: {\n      text: important.slice(0, 500) // limit biar hemat\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        208
      ],
      "id": "ea1520b5-a55c-4880-9b82-f9e947e31e59",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3f4e4324-1a93-46f8-b065-09f2badb0abc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb983733e1cff6aaf4a40589532dc5ce92703ea6f4b8d691fba2decba1a6fef6"
  },
  "id": "JmDlqzP7yTlwycgW",
  "tags": []
}