Tugas 1 AI Keuangan - Invoice Otomatis.json
{
  "name": "Tugas 1 AI Keuangan - Invoice Otomatis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuat invoice otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien"
            },
            {
              "fieldLabel": "Durasi"
            },
            {
              "fieldLabel": "Rate"
            },
            {
              "fieldLabel": "Email Klien"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "ec16675f-8621-40f1-bc16-471f9bceacd0",
      "name": "On form submission",
      "webhookId": "36b7f3dc-6b89-4b01-89b9-b2311babcbf9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7661cd8-42f8-486d-b6ce-6116ca264825",
              "name": "Total Biaya",
              "value": "={{ (Number($json[\"Durasi\"]) * Number($json[\"Rate\"].replace(/\\./g, \"\"))) .toLocaleString(\"id-ID\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0f20871c-57c8-4692-88f4-1ad3e2e01a59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background: #f4f6f8;\n      padding: 40px;\n      color: #333;\n    }\n\n    .invoice-wrapper {\n      max-width: 800px;\n      margin: auto;\n      background: #ffffff;\n      border-radius: 8px;\n      padding: 40px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n\n    .invoice-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 2px solid #eaeaea;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n\n    .invoice-header h1 {\n      margin: 0;\n      font-size: 28px;\n      color: #1f2937;\n      letter-spacing: 1px;\n    }\n\n    .company-name {\n      font-size: 16px;\n      font-weight: bold;\n      color: #4a90e2;\n    }\n\n    .invoice-meta {\n      text-align: right;\n      font-size: 14px;\n      color: #555;\n    }\n\n    .section {\n      margin-bottom: 30px;\n    }\n\n    .section-title {\n      font-size: 14px;\n      font-weight: bold;\n      color: #6b7280;\n      text-transform: uppercase;\n      margin-bottom: 8px;\n    }\n\n    .client-info p {\n      margin: 4px 0;\n      font-size: 15px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    table thead th {\n      background: #f9fafb;\n      border-bottom: 2px solid #e5e7eb;\n      padding: 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n\n    table tbody td {\n      padding: 12px;\n      border-bottom: 1px solid #e5e7eb;\n      font-size: 14px;\n    }\n\n    table th:nth-child(2),\n    table th:nth-child(3),\n    table th:nth-child(4),\n    table td:nth-child(2),\n    table td:nth-child(3),\n    table td:nth-child(4) {\n      text-align: right;\n    }\n\n    .total-box {\n      margin-top: 30px;\n      display: flex;\n      justify-content: flex-end;\n    }\n\n    .total-box table {\n      width: 300px;\n    }\n\n    .total-box td {\n      padding: 10px;\n      font-size: 15px;\n    }\n\n    .total-box tr:last-child td {\n      font-weight: bold;\n      font-size: 18px;\n      border-top: 2px solid #111827;\n    }\n\n    .footer {\n      margin-top: 50px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"invoice-wrapper\">\n\n    <!-- HEADER -->\n    <div class=\"invoice-header\">\n      <div>\n        <h1>INVOICE</h1>\n        <div class=\"company-name\">Jakeu Computer</div>\n        <div style=\"font-size:13px; color:#6b7280;\">\n          IT Support & Technical Services\n        </div>\n      </div>\n\n      <div class=\"invoice-meta\">\n        <div>\n          Tanggal:\n          {{ new Date().toLocaleDateString('id-ID', { day: 'numeric', month: 'long', year: 'numeric' }) }}\n        </div>\n        <div>\n          Waktu:\n          {{ new Date().toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit' }) }} WIB\n        </div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n\n    <!-- CLIENT INFO -->\n    <div class=\"section client-info\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission').item.json['Email Klien'] }}</p>\n    </div>\n\n    <!-- DETAIL TABLE -->\n    <div class=\"section\">\n      <div class=\"section-title\">Detail Layanan IT</div>\n\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi Layanan</th>\n            <th>Durasi (Jam)</th>\n            <th>Tarif / Jam</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n  <tr>\n    <td>IT Support & Technical Service</td>\n    <td>\n      {{ $('On form submission').item.json['Durasi'] }} Jam\n    </td>\n    <td>\n      Rp {{ Number($('On form submission').item.json['Rate']).toLocaleString('id-ID') }}\n    </td>\n    <td>\n      Rp. {{ $json['Total Biaya'] }}\n    </td>\n  </tr>\n</tbody>\n      </table>\n    </div>\n\n    <!-- TOTAL -->\n    <div class=\"total-box\">\n      <table>\n        <tr>\n          <td>Total Tagihan</td>\n          <td style=\"text-align:right;\">\n            Rp. {{ $json['Total Biaya'] }}\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n      Invoice ini diterbitkan secara otomatis oleh sistem Jakeu Computer.<br>\n      Untuk pertanyaan lebih lanjut, silakan hubungi layanan pelanggan kami.\n    </div>\n\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "54be88e3-5057-4ba5-8626-60436b9ca21a",
      "name": "HTML"
    },
    {
      "parameters": {
        "html_content": "={{$json.html}}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "7fe2f478-a84f-4b61-b9fd-1272d18c1aaa",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "CeVggaxnEbgLEp7N",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "fd758f12-e4db-4326-ba61-53975ce501fc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email Klien'] }}",
        "subject": "=Invoice dari Jakeu Computer untuk {{ $('On form submission').item.json['Nama Klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>\n<p>\nSalam hangat dari <strong>Jakeu Computer – IT Support & Technical Services</strong>.\n</p>\n<p>\nTerima kasih atas kepercayaan Anda kepada kami dalam penanganan kebutuhan IT dan perangkat komputer Anda. \nKami berkomitmen untuk memberikan layanan teknis yang profesional, responsif, dan terpercaya.\n</p>\n<p>\nSehubungan dengan layanan yang telah kami berikan, bersama email ini kami sampaikan invoice resmi sebagai rincian biaya atas pekerjaan yang telah diselesaikan.\n</p>\n<p><strong>Ringkasan Layanan:</strong></p>\n<ul>\n    <li><strong>Total Waktu Pengerjaan:</strong> {{ $('On form submission').item.json['Jam Kerja'] }} jam</li>\n    <li><strong>Total Biaya Layanan:</strong> Rp. {{ $('Edit Fields').item.json['Total Biaya'] }}</li>\n    <li><strong>Jatuh Tempo Pembayaran:</strong> 14 hari sejak tanggal invoice</li>\n</ul>\n<p>\nInvoice lengkap yang mencakup detail pekerjaan, rincian layanan, serta informasi pembayaran dapat diakses melalui tautan berikut:\n<br>\n{{ $json.pdf_url }}\n</p>\n<blockquote style=\"border-left: 4px solid #4a90e2; padding-left: 15px; margin-left: 0; font-style: italic; background-color:#f4f8ff;\">\n<strong>Catatan Keamanan:</strong><br>\nUntuk menjaga keamanan transaksi, Jakeu Computer tidak pernah meminta informasi sensitif seperti password, PIN, atau kode OTP melalui media apa pun. \nMohon pastikan pembayaran hanya dilakukan ke rekening resmi yang tercantum dalam invoice.\n</blockquote>\n<p>\nKami berharap layanan yang kami berikan dapat membantu kelancaran operasional Anda. \nApabila Anda memerlukan bantuan lanjutan, maintenance rutin, atau konsultasi IT lainnya, tim kami siap membantu kapan pun dibutuhkan.\n</p>\n<p>\nJika terdapat pertanyaan atau klarifikasi lebih lanjut, silakan membalas email ini atau menghubungi kami melalui kontak resmi.\n</p>\n<p>\nTerima kasih atas kerja sama dan kepercayaan Anda.\n</p>\n<p>Hormat kami,</p>\n<p>\n<strong>Jakeu Computer</strong><br>\nIT Support & Technical Services<br>\n08123456789\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "b49d2015-04ff-4b12-830d-d9e4b7938d9c",
      "name": "Send a message",
      "webhookId": "270c1ee6-1605-452d-9c74-a242946e0265",
      "credentials": {
        "gmailOAuth2": {
          "id": "ngSDcQezsafVXqQJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a6953e42-8512-4727-be50-f1207b29e4e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb983733e1cff6aaf4a40589532dc5ce92703ea6f4b8d691fba2decba1a6fef6"
  },
  "id": "nFHlKHXTVnMMdE6C",
  "tags": []
}